:root {
  --background-color: #222;
  --text-color: #e0e0e0;
  --heading-color: #111;
  --code-background: #111;
  --code-color: green;
  --box-shadow-color: #13131360;
  --accent-color: #008000;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 100%;
}

header {
  width: 100%;
  background-color: var(--heading-color);
}

h1 {
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-bottom: 30px;
}
h1 span img {
  max-height: 2rem;
}

h2,
summary {
  font-size: 1.3em;
  padding: 10px;
  list-style: none;
}

p {
  font-size: 1.1em;
  line-height: 1.5;
  padding: 5px;
}

pre {
  background-color: var(--code-background);
  color: var(--code-color);
  padding: 1px 12px;
  border-radius: 5px;
  overflow-x: auto;
  box-shadow: 2px 5px 5px var(--box-shadow-color);
}

code {
  font-size: 1.2em;
  color: var(--code-color);
}

section {
  width: 98%;
  margin: 0 auto;
  padding: 10px;
  max-width: 1200px;
}

summary {
  box-shadow: 8px 12px 5px var(--box-shadow-color);
  outline: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}
summary::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  float: right;
  margin-inline: 30px;
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
}
details[open] summary::after {
  font-family: "Font Awesome 5 Free";
  content: "\f00d";
  transform: rotate(180deg);
  color: red;
}
details[open] {
  outline: 1px solid var(--box-shadow-color);
  border-bottom: 2px solid var(--accent-color);
  box-shadow: 0px 0px 10px var(--box-shadow-color);
  border-radius: 5px;
}
details[open] summary {
  box-shadow: 0px 0px 10px var(--accent-color);
}

article {
  margin: 10px;
  border-bottom: 1px solid gray;
  transition: 1s ease-in;
  max-height: 0 !important;
  -webkit-transition: 1s ease-in;
  -moz-transition: 1s ease-in;
  -ms-transition: 1s ease-in;
  -o-transition: 1s ease-in;
}

/* Conteúdo da seção com animação */
details:not([open]) article,
details article {
  max-height: 0 !important;
  opacity: 0 !important;
  transition: 1s ease-in !important;
  -webkit-transition: 1s ease-in !important;
  -moz-transition: 1s ease-in !important;
  -ms-transition: 1s ease-in !important;
  -o-transition: 1s ease-in !important;
}

details[open] article {
  max-height: 5000px !important;
  /* Ajuste a altura máxima desejada */
  opacity: 1 !important;
  transition: 1s ease-in !important;
  -webkit-transition: 1s ease-in !important;
  -moz-transition: 1s ease-in !important;
  -ms-transition: 1s ease-in !important;
  -o-transition: 1s ease-in !important;
}
